@use './variables';
@import 'intl-tel-input/build/css/intlTelInput.css';

body {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}

body, html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}