:root {
  // colors
  --color-primary: 7, 200, 142;
  --color-secondary: 62, 80, 114;
  --color-dark: 0, 11, 38;

  //opacity
  --opacity-0: 0.88;
  --opacity-1: 0.8;
  --opacity-2: 0.72;
  --opacity-3: 0.64;
  --opacity-4: 0.56;
  --opacity-5: 0.32;
  --opacity-6: 0.12;
  --button-brightness-active: 0.9;

  //sizes
  --header-desktop-height: 80px;
  --header-mobile-height: 64px;
  --footer-height: 64px;
  --horizontal-content-padding: 12.5%;
  --main-padding-top: 40px;

  //font-sizes
  --header-font-size: 14px;

  // properties
  --default-border: 0.5px solid rgba(0, 0, 0, var(--opacity-6));
  --button-transition: 0.2s;
}