.loginButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgba(var(--color-dark), var(--opacity-1));
  transition: var(--button-transition);

  &:active {
    color: rgba(var(--color-dark), 1);
  }

  .title {
    margin-left: 4px;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
  }
}