.navBanner {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 300px;
  padding: 40px;
  border-radius: 16px;
  border: var(--default-border);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  .content {
    max-width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    .description {
      margin-top: 14px;
      color: rgba(var(--color-dark), var(--opacity-4));
    }

    .button {
      height: 48px;
      padding: 12px;
      color: rgba(var(--color-dark), var(--opacity-2));
    }
  }
}