.header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  background: white;
  z-index: 9;
  height: var(--header-height);
  border-bottom: var(--default-border);
  padding: 0 var(--horizontal-content-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .links {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 48px;
  }
}