.headerDestop {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  background: white;
  z-index: 9;
  height: var(--header-desktop-height);
  border-bottom: var(--default-border);
  padding: 0 var(--horizontal-content-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav {
    display: flex;

    &List {
      list-style-type: none;
      margin: 0 0 0 48px;
      padding: 0;
      display: flex;

      &__item {
        margin-right: 24px;
      }
    }
  }
  .info{
    display: flex;
    align-items: center;
    gap: 48px;
  }
}