.contactInfo {
  display: flex;
  align-items: center;
  color: rgb(var(--color-dark));

  .icon {
    opacity: var(--opacity-4);
  }

  .title {
    opacity: var(--opacity-3);
    margin-left: 8px;
  }
}